@use '../../../style/variable.scss' as *;
@use '../../../style/mixin.scss' as *;
@use './checkbox.mixin.scss' as *;

// Reset style

.checkbox,
.radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
}

// Main styles

.checkbox {
    border-radius: 6px;

    @include CheckBox;
}

.radio {
    border-radius: 100%;

    @include CheckBox;
}

.checkboxFrame {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
    min-height: fit-content;
    cursor: pointer;
    gap: $Padding-8px;

    .content {
        color: $Secondary-Main;
        user-select: none;
        height: fit-content;

        @include Body;
    }

    svg {
        position: absolute;
        left: 2px;
        opacity: 0;
        color: $Secondary-Main;
    }

    // States default

    &:has(:not(input:checked)) {
        .checkbox {
            @include CheckBox-State-Default;
        }
        .radio {
            @include CheckBox-State-Default;
        }
    }

    // Checked

    &:has(input:checked) {
        .checkbox {
            @include CheckBox-State-Checked;
        }
        .radio {
            @include Radio-State-Checked;

            &::after {
                content: '';
                display: block;
                position: absolute;
                background-color: $Secondary-Main;
                top: 6px;
                left: 6px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
            }
        }
        .content {
            color: $Secondary-Main;
            font-weight: bold;
        }
        svg {
            opacity: 1;
        }
    }

    // Disabled

    &:has(input:disabled) {
        cursor: not-allowed;

        .checkbox {
            @include CheckBox-State-Disabled;
        }
        .radio {
            @include Radio-State-Disabled
        }
        .content {
            color: $Secondary-Light-Gray;
            font-weight: normal;
        }
    }

    // Selected disabled

    &:has(input:disabled:checked) {
        cursor: not-allowed;

        .checkbox {
            @include CheckBox-State-Checked-Disabled;
        }
        .radio {
            @include Radio-State-Checked-Disabled;

            &::after {
                background-color: $Secondary-Light-Gray;
            }
        }
        .content {
            color: $Secondary-Light-Gray;
            font-weight: normal;
        }
        svg {
            color: $Secondary-Light-Gray;
            opacity: 1;
        }
    }

    // Indeterminate

    &:has(input:indeterminate) {
        .checkbox {
            background-color: $Accent-Blue;
            border-color: $Accent-Blue;

            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 2px;
                border-radius: 6px;
                background-color: $Secondary-Main;
                top: 8px;
                left: 3px;
            }
        }
    }
}