@use '../../../style/mixin.scss' as *;
@use '../../../style/variable.scss' as *;

// Reset style

.selectFrame {
    padding: 0;
    margin: 0;

    span {
        padding: 0;
        margin: 0;
    }
    svg {
        padding: 0;
        margin: 0;
    }
}

// Main style 

.selectFrame {
    display: flex;
    flex-direction: row;
    padding: $Padding-9px $Padding-15px;
    gap: $Padding-15px;
    background-color: $Dominant-BG;
    border-bottom: 1px solid $Secondary-Placeholder;
    cursor: pointer;

    span {
        width: 80%;
        color: $Secondary-Main;
        user-select: none;

        @include Body;
    }
    svg {
        color: $Accent-Blue;
        opacity: 0;
    }
}

// States

.selectFrame {
    // Hover
    &:hover {
        background-color: $Dominant-Surface-06;
    } 

    // Select
    &.selected {
        background-color: $Dominant-Surface-08;

        span {
            color: $Accent-Blue;
        }
    }

    // Multy select
    &.selected.multySekected {
        svg {
            opacity: 1;
        }
    }
}

// Animation

@keyframes FadeInUp {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.selectFrame {
    animation-name: FadeInUp;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-duration: 200ms;
}