@use '../../shared/style/mixin.scss' as *;
@use '../../shared/style/variable.scss' as *;

// Reset style

.article {
    box-sizing: border-box;
    appearance: none;
    padding: 0;
    margin: 0;


}

// Main style

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.125vh 2.223vw;
    gap: 1.17vh;
    border-radius: 0px 12px 12px 0px;
    background-color: $Dominant-Surface-03;
}