@use '../../../style/mixin.scss' as *;
@use '../../../style/variable.scss' as *;
@use '../../../style/skeleton.scss' as *;

// Reset style input

.input {
    outline: none;
    background: none;
    border: none;
}

.iconLeft {
    margin-left: -0.4415em;
}

// Main styles

.frame {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: $Padding-9px;
    margin: 0;
    padding: 0;
    width: fit-content;

    .inputFrame {
        display: block;
        flex-direction: row;
        position: relative;
        margin: 0;
        min-width: 9.02vw;
        cursor: text;

        @include Input;

        .inputWrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            gap: $Padding-8px;
            transition: all 0.2s ease;

            .input {
                display: flex;
                width: 100%;
                height: auto;
                color: $Secondary-Main;
                transition: all 0.2s ease;
                
                @include Body;
            }
        }
    }

    .label {
        color: $Secondary-Main;
        user-select: none;

        @include Body;
    }
    .requiredField {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $Padding-8px;
        color: $Secondary-Main;
        margin-top: -0.188em;
        user-select: none;

        @include Body;

        svg {
            color: $Secondary-Main;
        }
    }
}

// States

.inputFrame {
    svg {
        color: $Secondary-Placeholder;
    }
    // Placeholder state
    .input::placeholder {
        color: $Secondary-Placeholder;
    }

    // Hover state
    &:hover:not(:focus-within):not(:has(.input:disabled)):not(:has(.input.filled)):not(.error):not(.success) {
        @include Input-State-Hover;

        svg {
            color: $Secondary-Hover;
        }

        .input::placeholder {
            color: $Secondary-Hover;
        }
    }

    // Focus state
    &:focus-within:not(.error) {
        @include Input-State-Focus;

        svg {
            color: $Secondary-Main;
        }

        .input::placeholder {
            color: $Secondary-Main;
        }
    }

    // Value state
    &:has(.input.filled):not(.error):not(.success) {
        @include Input-State-Value;

        svg {
            color: $Secondary-Main;
        }
    }

    // Disabled state
    &:has(.input:disabled) {
        cursor: not-allowed;
        @include Input-State-Disabled;

        svg {
            color: $Secondary-Main;
        }

        .inputWrapper {
            cursor: not-allowed;

            .input {
                cursor: not-allowed;
            }

            .input::placeholder {
                color: $Secondary-Main;
            }
        }
    }

    // Success
    &.success {
        @include Input-State-Success;

        .input::placeholder {
            color: $Secondary-Main
        }
        .inputWrapper {
            svg {
                color: $Secondary-Main;
            }
        }
    }

    // Error
    &.error {
        @include Input-State-Error;

        .input::placeholder {
            color: $Accent-Red;
        }
        .inputWrapper {
            svg {
                color: $Accent-Red;
            }
        }
    }
}

// Required states styles

.frame {
    .success {
        color: $Accent-Green;

        svg {
            color: $Accent-Green;
        }
    }
    .error {
        color: $Accent-Red;

        svg {
            color: $Accent-Red;
        }
    }
}

// Skeleton state

.skeleton {
    .elSkeleton {
        pointer-events: none;
        user-select: none;
        border: 0 !important;
        background: $Dominant-Surface-08;
        box-shadow: none;
        resize: none;
    }
    .bling {}
}