@use '../../shared/style/mixin.scss' as *;
@use '../../shared/style/variable.scss' as *;

// Reset style

.article {
    box-sizing: border-box;
    appearance: none;
    padding: 0;
    margin: 0;
}

// Main style

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}