@use './variable.scss' as *;

// Input states

@mixin Input {
    border: 1px solid $Secondary-Placeholder;
    border-radius: 6px;
    background-color: $Dominant-Surface-04;
    box-shadow: $Input-Inner-shadow;
    padding: 0.643em 0.94em;
    color: $Secondary-Main;
    outline: none;
    transition: all 0.2s ease;
}

@mixin Input-State-Hover {
    border: 1px solid $Secondary-Hover;
    background-color: $Dominant-Surface-06;
}

@mixin Input-State-Focus {
    border: 1px solid $Accent-Blue;
    background-color: $Dominant-Surface-08;
    box-shadow: 
    $Input-Inner-shadow,
    $Focused;
}

@mixin Input-State-Value {
    border: 1px solid $Secondary-Main;
    background-color: $Dominant-Surface-08;
}

@mixin Input-State-Error {
    color: $Accent-Red;
    border-color: $Accent-Red;
    background-color: $Dominant-Surface-08;
    box-shadow: 
    $Input-Inner-shadow,
    $Error;
}

@mixin Input-State-Success {
    border-color: $Accent-Green;
    background-color: $Dominant-Surface-08;
    box-shadow: 
    $Input-Inner-shadow,
    $Success;
}

@mixin Input-State-Disabled {
    border-color:$Secondary-Light-Gray;
    background-color: $Secondary-Placeholder;
    color: $Secondary-Light-Gray;
    box-shadow: none;
    cursor: not-allowed;
}

// Button states

@mixin Button($theme: dark) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 3.477vw;
    min-height: 0.9em;
    padding: 0.563em 0.94em;
    border-radius: 6px;
    border-style: solid;
    transition: all 0.2s ease;

    // Style
    $colors: map-get($map: $Button-Themes, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Hover($theme: dark) {
    $colors: map-get($map: $Button-Themes-Hover, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Pressed($theme: dark) {
    $colors: map-get($map: $Button-Themes-Pressed, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Loading($theme: dark) {
    $colors: map-get($map: $Button-Themes-Loading, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Disabled {
    background-color: $Secondary-Placeholder;
    border-color: $Secondary-Light-Gray;
    color: $Secondary-Light-Gray;
}

// Fonts

@mixin Body {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
}

@mixin Dotted {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
    text-decoration: dotted;
}

@mixin H5 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
}

@mixin H4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
}

@mixin H3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
}

@mixin Sub-Title {
    font-size: 2.625rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
}

@mixin Title {
    font-size: 3.375rem;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0%;
}