@use './variable.scss' as *;

@mixin Button($theme: dark) {
    padding: $Padding-9px $Padding-15px;
    border-radius: 6px;
    border-style: solid;
    gap: $Padding-8px;

    // Style
    $colors: map-get($map: $Secondary-Button-Themes, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Hover($theme: dark) {
    $colors: map-get($map: $Secondary-Button-Themes-Hover, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Pressed($theme: dark) {
    $colors: map-get($map: $Secondary-Button-Themes-Pressed, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
    transform: scale(0.95);
}

@mixin Button-State-Loading($theme: dark) {
    $colors: map-get($map: $Secondary-Button-Themes-Loading, $key: $theme);

    background: map-get($map: $colors, $key: bg);
    border-color: map-get($map: $colors, $key: border);
    color: map-get($map: $colors, $key: text);
}

@mixin Button-State-Disabled {
    background-color: $Secondary-Placeholder;
    border-color: $Secondary-Light-Gray;
    color: $Secondary-Light-Gray;
}