@use './variable.scss' as *;

.skeleton {
    display: inline-flex;
    background-color: $Dominant-Surface-08;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    user-select: none;

    .elSkeleton {
        pointer-events: none;
        user-select: none;
        border: 0 !important;
        background: $Dominant-Surface-08;
        box-shadow: none;
        resize: none;
    }

    .bling {
        min-width: 13.39%;
        min-height: 100%;
        background: $Bling-Gradient;
        position: absolute;
        animation: Loading 800ms infinite linear;
        user-select: none;
        z-index: 1000;
    }
}

@keyframes Loading {
    0% {left: -2vw;}
    100% {left: 100%;}
}