@use './variable.scss' as *;

.skeleton {
    display: inline-flex;
    background-color: $Dominant-Surface-08;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    user-select: none;
    cursor: progress;

    .elSkeleton {
        pointer-events: none;
        user-select: none;
        border: 0 !important;
        background: $Dominant-Surface-08;
        box-shadow: none;
        resize: none;
    }

    .bling {
        min-width: 13.39%;
        min-height: 100%;
        background: $Bling-Gradient;
        position: absolute;
        animation: LoadingBling 800ms infinite linear;
        user-select: none;
        z-index: 1000;
    }
}

.buttonSkeleton {
    svg {
        animation: Loader 1400ms infinite linear;
    }
}

@keyframes LoadingBling {
    0% {left: -2vw;}
    100% {left: 100%;}
}

@keyframes Loader {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}