@use '../../../style/variable.scss' as *;
@use '../../../style/mixin.scss' as *;
@use '../../../style/skeleton.scss';

// Reset Input

.input {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;
}

.inputIcon {
    transition: all 0.2s ease;
}

// Set padding and gap to svg icon

.inputIcon {
    gap: 0.5em;
    padding-left: 0.5em;
}

// Fix left padding on input left icon

.fixLeftPadding {
    padding-left: 0.5em !important;
}

// Styles for form

.inputForm {
    display: inline-flex;
    flex-direction: row;
    gap: 0.938em;
    min-width: 13.34vw;
    margin-bottom: 0.21em;
    @include Input;

    .input {
        width: 100%;
        color: $Secondary-Main;
        @include Body;
    }
    .input::placeholder {
        color: $Secondary-Placeholder;
        @include Body;
    }
    .input:placeholder-shown {
        border-color: $Secondary-Placeholder;
    }

    .inputIcon {
        color: $Secondary-Placeholder;
    }
}

.wrapperForm {
    // Hover state
    .inputForm:hover:not(:focus-within):not(.error):not(.success) {
        @include State-Hover;

        .input:hover:not(.error):not(.success)::placeholder {
            color: $Secondary-Hover;
        }
        .inputIcon:not(.error):not(.success) {
            color: $Secondary-Hover;
        }
    }

    // Focus state
    .inputForm:focus-within:not(.error) {
        @include State-Focus;

        .inputIcon:not(.error) {
            color: $Secondary-Main;
        }
        .input:not(.error)::placeholder {
            color: $Secondary-Main;
        }
        .input:not(.error):hover {
            color: $Secondary-Main;
        }
    }

    // Value state
    .inputForm:has(.input:not(:placeholder-shown)):not(.error):not(.success) {
        @include State-Value;

        .inputIcon:not(.error) {
            color: $Secondary-Main;
        }
    }

    // Disabled state
    .inputForm:has(.input:disabled) {
        @include State-Disabled;

        .input {
            color: $Secondary-Light-Gray;
            background-color: $Secondary-Placeholder;
            border-color: $Secondary-Light-Gray;
            cursor: not-allowed; 
        }
        .input::placeholder {
            color: $Secondary-Light-Gray;
        }

        .inputIcon {
            color: $Secondary-Light-Gray;
        }
    }
    .inputForm:has(.input:disabled):hover {
        @include State-Disabled;

        .input::placeholder {
            color: $Secondary-Light-Gray;
        }
    }

    // Success state
    .success {
        @include State-Success;
        .inputIcon {
            color: $Secondary-Main;
        }
        .input::placeholder {
            color: $Secondary-Main;
        }
    }
    // Error state
    .error {
        @include State-Error;
        .inputIcon {
            color: $Accent-Red;
        }
        .input::placeholder {
            color: $Accent-Red;
        }
        .input {
            color: $Accent-Red;
        }
    }
}

// Required field form
.fieldFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    .requiredIcon {
        color: $Secondary-Main;
    }
    .requiredLabel {
        color: $Secondary-Main;
        @include Body;
    }
}

// Error and success state on required field
.fieldFrame {
    .success {
        color: $Accent-Green;
    }
    .error {
        color: $Accent-Red;
    }
}

// Skeleton state

.skeleton {
    min-width: 13.34vw;
    min-width: 217px;
    min-height: 2.43em;

    .bling {
        min-width: 2.08em;
        min-height: 100%;
        left: -2vw;
    }
}