@use '../../../style/variable.scss' as *;
@use '../../../style/mixin.scss' as *;
@use '../../../style/skeleton.scss';

// Basic style

.wrapperTextarea {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    gap: $Padding-8px;
    transition: all 0.2s ease;

    .textarea {
        display: flex;
        min-width: 13.34vw;
        min-height: 7.3vw;
        @include Body;
        @include Input;
    }
    .label {
        color: $Secondary-Main;
        transition: all 0.2s ease;
        @include Body;
    }
}

// States

.wrapperTextarea {

    //Placeholder state
    .textarea::placeholder {
        color: $Secondary-Placeholder;
    }

    // Hover state
    .textarea:hover:not(:focus):not(.error):not(.success) {
        @include Input-State-Hover;
    }
    .textarea:hover:not(:focus):not(.error):not(.success)::placeholder {
        color: $Secondary-Hover;
    }

    // Focus state 
    .textarea:focus:not(.error) {
        @include Input-State-Focus;
    }
    .textarea:focus:not(.error)::placeholder {
        color: $Secondary-Main;
    }
    .textarea:focus:hover:not(.error)::placeholder {
        color: $Secondary-Main;
    }

    // Value State
    .textarea:not(:placeholder-shown):not(.error):not(.success) {
        @include Input-State-Value;
    }

    // Disabled state
    .textarea:disabled {
        @include Input-State-Disabled;
        resize: none;
    }
    .textarea:disabled:hover {
        @include Input-State-Disabled;
    }
    .textarea:disabled:hover::placeholder {
        @include Input-State-Disabled;
    }
    .textarea:disabled::placeholder {
        color: $Secondary-Light-Gray;
    }
    .textarea:disabled::-webkit-resizer {
        background-color: none;
        border-color: none;
    }

    // Success state
    .success {
        @include Input-State-Success;
    }
    .success::placeholder {
        color: $Secondary-Main
    }

    // Error state
    .error {
        @include Input-State-Error;
    }
    .error::placeholder {
        color: $Accent-Red;
    }
}

// Too many character style
.wrapperTextarea.error::after {
    content: "-" attr(data-overflow) " character";
    color: $Accent-Red;
    position: absolute;
    top: 0px;
    right: 0px;
    @include Body;
}

// Required field
.wrapperTextarea.field::before {
    content: 'This is required field';
    color: $Secondary-Placeholder;
    position: absolute;
    top: 0;
    right: 0;
    @include Body;
}

.skeleton {
    min-width: 14.9vw;
    min-height: 8.2vw;

    .bling {
        left: -2vw;
    }
}