@use './primaryButtonMixin.scss' as *;
@use '../../../style/variable.scss' as *;
@use '../../../style/skeleton.scss';
@use '../../../style/mixin.scss' as *;

// Reset style

.button {
    appearance: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    &:focus
    &:active {
        outline: none;
    }
}

// Basic styles & States style

.buttonFrame {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-height: fit-content;

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 3.477vw;
        min-height: 0.9em;
        @include Body;
    }

        @each $theme in dark, red, blue {
                &[data-overflow="#{$theme}"] .button {
                    @include Button($theme);

                    &:hover:not(:disabled) { @include Button-State-Hover($theme); }
                    &:active:not(:disabled) { @include Button-State-Pressed($theme); }

                    &:disabled {
                        cursor: not-allowed;
                        @include Button-State-Disabled;
                    }
            }
        }
}